
@media print,
(max-width: 1279px) {

    .before-after_items {
        margin-left: -30px;
    }
    .before-after_items > * {
        width: calc(100%/2 - 30px);
        margin-left: 30px;
    }
    .before-after_item-title {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 20px;
    }
    .before-after_item-info {
        padding: 20px;
    }


    .photo-gallery {
        columns: 4;
        gap: 24px;
    }
    .photo-gallery img {
        margin-bottom: 24px;
    }
    .photo-gallery_column {
        margin-bottom: 24px;
    }


    .roles_item-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .roles_item-text .icon {
        width: 28px;
        height: 28px;
        margin-right: 13px;
    }
    .roles_item-text {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }
    .roles_items {
        margin-left: -30px;
    }
    .roles_items > * {
        width: calc(100%/3 - 30px);
        margin-left: 30px;        
    }
    .roles_item {
        padding: 90px 20px 40px 20px;
    }
    .roles_item-thumb {
        left: 20px;
    }
    .roles_item-box .audio_media {
        margin-top: 25px;
        padding: 20px;
    }


    .unit_item-title {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .unit_item-text {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .unit_items > * {
        width: calc(100%/3 - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }
    .unit_items {
        margin-left: -20px;
        margin-bottom: -20px;
    }



    .first-section_img:not(.bg) {
        width: 440px;
        height: 563px;
        margin-left: 50px;
    }
    .first-section_img .bg {
        top: 27px;
        left: -31px;
        width: 497px;
        height: 529px;
    }
    .first-section_info {
        width: calc(100% - 525px);
    }
    .first-section_title {
        font-size: 34px;
        margin-bottom: 18px;
    }
    .first-section_title::after {
        width: 49px;
        height: 49px;
        left: -15px;
        top: -7px;
    }
    .first-section_text {
        font-size: 18px;
        margin-bottom: 18px;
    }



    .graphics_box-title-left,
    .graphics_box-title-right {
        font-size: 30px;
    }
    .graphics_box-title {
        margin: 0 auto 40px;
    }


    .first-section2 .first-section_img .bg {
        top: 0;
        left: 45px;
        width: 571px;
        height: 580px;
    }


    .interactive .image .item1 {
        top: 50%;
        left: 23%;
    }
    .interactive .image .info1 {
        top: 16%;
        left: calc(5% + 42px);
    }
    .interactive .image .item2 {
        top: 46%;
        left: 67%;
    }
    .interactive .image .info2 {
        top: 13%;
        left: calc(49% + 42px);
    }
    .interactive .image .info3 {
        top: 35%;
        left: calc(40% + 40px);
    }



    .improvement_item::after {
        display: none;
    }
    .improvement_item:nth-child(1) {
        margin-top: 0px;
    }
    .improvement_item:nth-child(2) {
        margin-top: 0px;
    }
    .improvement_item:nth-child(3) {
        margin-top: 0px;
    }
    .improvement_item-number {
        font-size: 170px;
        top: -90px;
    }


    .first-section3 .first-section_img .bg {
        position: absolute;
        z-index: -1;
        top: -101px;
        left: 0;
        width: 706px;
        height: 581px;
        pointer-events: none;
    }
    .first-section3 .first-section_img:not(.bg) {
        display: block;
        width: 842px;
        height: 510px;
        max-width: 100%;
        position: relative;
        margin-left: 50px;
    }

    .first-section4 .first-section_img:not(.bg) {
        width: 892px;
        height: auto;
        margin-left: 50px;
    }

    .before-after,
    .photogallery,
    .clients,
    .professionals,
    .roles,
    .unit,
    .launch,
    .privilege,
    .first-section,
    .graphics,
    .improvement,
    .first-section2,
    .first-section3,
    .first-section4,
    .interactive {
        padding: 70px 0;
    }




}