@media print, (max-width: 767px) {

    .before-after_items {
        margin-left: 0px;
        flex-wrap: wrap;
    }
    .before-after_items > * {
        width: 100%;
        margin-left: 0px;
    }
    .before-after_item-list li {
        font-size: 16px;
        line-height: 22px;
        padding-left: 52px;
    }
    .before-after_item-list li + li {
        margin-top: 12px;
    }
    .before-after_item-title {
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .before-after_item:first-child {
        margin-bottom: 30px;
    }


    .photo-gallery {
        columns: 2;
        gap: 16px;
    }
    .photo-gallery img {
        margin-bottom: 16px;
    }
    .photo-gallery_column {
        margin-bottom: 16px;
    }


    .roles_items {
        margin-left: 0px;
    }
    .roles_items > * {
        width: 100%;
        margin-left: 0px;
        padding: 87px 20px 30px;
    }
    .roles_item-thumb {
        width: 88px;
        height: 88px;
    }


    .unit_items > * {
        width: 100%;
        margin-left: 0px;
        padding: 17px;
    }
    .unit_items {
        margin-left: 0px;
    }


    .first-section_wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .first-section_info {
        width: 100%;
    }
    .first-section_img:not(.bg) {
        margin: 0 auto;
    }
    .first-section_text {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .first-section_img .bg {
        top: 0;
        left: -18px;
        width: 375px;
        height: 466px;
    }



    .graphics_box-title {
        display: none;
    }
    .graphics_items {
        margin-left: 0;
        flex-wrap: wrap;
        margin-bottom: -30px;
    }
    .graphics_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .graphics_item-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #4B4B4B;
        white-space: nowrap;
        text-align: center;
        margin-bottom: 15px;
    }
    .graphics_item-title span {
        color: #16A3B9;
    }



    .improvement_items  {
        margin-left: 0px;
        flex-wrap: wrap;
        margin-bottom: -30px;
    }
    .improvement_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .improvement_item-number {
        font-size: 77px;
        top: -111px;
    }
    .improvement_item-title {
        font-size: 20px;
        line-height: 25px;
    }
    .improvement_item-text {
        font-size: 16px;
        line-height: 22px;
    }
 
}






