@media print,
(max-width: 1023px) {

    .before-after_item-list li .icon {
        width: 36px;
        height: 36px;
    }
    .before-after_item-info {
        padding: 15px;
    }


    .photo-gallery {
        columns: 3;
        gap: 24px;
    }
    .photo-gallery img {
        margin-bottom: 24px;
    }
    .photo-gallery_column {
        margin-bottom: 24px;
    }


    .professionals_top-avatar {
        width: 110px;
        height: 110px;
    }
    .professionals_top-avatar:nth-child(2) {
        margin-left: -20px;
    }
    .professionals_top-avatar:nth-child(3) {
        margin-left: -20px;
    }


    .roles_item-title {
        font-size: 21px;
        line-height: 25px;
    }
    .roles_item-text .icon {
        width: 28px;
        height: 28px;
    }
    .roles_item-text {
        font-size: 15px;
        line-height: 21px;
    }
    .roles_items {
        margin-left: -20px;
        margin-bottom: -50px;
    }
    .roles_items > * {
        width: calc(100%/2 - 20px);
        margin-bottom: 50px;
        margin-left: 20px;
    }

    .unit_item-title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    .unit_item-text {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .unit_items > * {
        width: calc(100%/2 - 20px);
        margin-left: 20px;
        padding: 20px;
    }
    .unit_items {
        margin-left: -20px;
        flex-wrap: wrap;
    }
    .unit_item-image {
        width: 130px;
        height: 130px;        
    }
    .unit_item-image:nth-child(2) {
        margin-left: -40px;
    }
    .unit_item-image:nth-child(3) {
        margin-left: -40px;
    }


    .first-section_img:not(.bg) {
        width: 340px;
        height: 435px;
        margin-left: 35px;
    }
    .first-section_img .bg {
        top: 0;
        left: -24px;
        width: 378px;
        height: 466px;
    }
    .first-section_info {
        width: calc(100% - 375px);
    }
    .first-section_title {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .first-section_title::after {
        width: 36px;
        height: 36px;
        left: -10px;
        top: -3px;
    }
    .first-section_text {
        font-size: 18px;
        margin-bottom: 18px;
    }


    .first-section2 .first-section_img:not(.bg) {
        width: 373px;
        height: 278px;
    }
    .first-section2 .first-section_img .bg {
        top: 0;
        left: 44px;
        width: 331px;
        height: 301px;
    }
    .first-section2 {
        padding-bottom: 70px;
    }
    .first-section2::before {
        width: 651px;
        height: 709px;
        top: 0;
        right: 0;
    }


    .interactive .image .info {
        top: calc(100% - 1px);
        right: 0;
        left: 0;
        width: 100%;
        transform: none;
        box-shadow: 0 5px 24px rgb(0 0 0 / 50%);
        border-radius: 0 0 15px 15px;
    }
    .interactive .image .info:before {
        display: none;
    }
    .interactive .image .item2 {
        top: 28%;
        left: 79%;
    }



    .improvement_item-title {
        font-size: 24px;
        line-height: 29px;
    }
    .improvement_item-text {
        font-size: 18px;
        line-height: 25px;
    }


    .privilege ul li {
        border-radius: 15px;
        padding: 15px 15px 15px 75px;
        margin-right: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        min-height: 40px;
    }


    .first-section3 .first-section_img:not(.bg) {
        display: block;
        width: 505px;
        height: 445px;
        max-width: 100%;
        position: relative;
        margin-left: 54px;
    }


    .first-section4 .first-section_wrap {
        flex-direction: column;
    }
    .first-section4 .first-section_info {
        width: 100%;
    }
    .first-section4 .first-section_img:not(.bg) {
        width: 100%;
        height: auto;
        margin-left: 0;
    }


}