
/* before-after */

.before-after {
    padding: 90px 0;
}
.before-after .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}
.before-after_items {
    display: flex;
    margin-left: -95px;
}
.before-after_items > * {
    width: calc(100%/2 - 95px);
    margin-left: 95px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
    border-radius: 20px;
}
.before-after_item-img img {
    width: 100%;   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
.before-after_item-info {
    padding: 32px 34px 53px;
}
.before-after_item-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: var(--text_color);
    margin-bottom: 28px;
}
.before-after_item-title span {
    color: #16A3B9;
}
.before-after_item-list ul {
    display: block;
    max-width: 100%;
    margin-top: 39px;
}
.before-after_item-list li {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    position: relative;
    display: flex;
    min-height: 40px;
    padding-left: 61px;
    letter-spacing: .02em;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.before-after_item-list li + li {
    margin-top: 26px;
}
.before-after_item-list li .icon {
    color: #bce01a;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
}



/* photogallery */
.photogallery {
    padding: 90px 0;
}
.photogallery .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}
.photo-gallery {
    columns: 4;
    gap: 48px;
}
.photo-gallery img {
    display: block;
    width: 100%;
    margin-bottom: 48px;
    border-radius: 20px;
}
.photo-gallery_img {
    border-radius: 20px;
    object-fit: cover;
}
.photo-gallery_column {
    margin-bottom: 48px;
}
.has-image[data-image-fit=contain] .fancybox__image {
    border-radius: 20px;
}



/* privilege */
.privilege {
    padding: 90px 0;
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);      
}
.privilege .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}
.privilege ul {
    list-style: none;
    display: flex;
}
.privilege ul li {
    background: #FFFFFF;
    box-shadow: 0px 11.3755px 68.2531px rgba(38, 45, 118, 0.08);
    border-radius: 22px;
    padding: 26px;
    margin-right: 36px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: var(--text_color);
    position: relative;
    display: flex;
    min-height: 40px;
    padding-left: 87px;
    letter-spacing: .02em;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.privilege ul li .icon {
    color: #bce01a;
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
}



/* clients */
.clients {
    padding: 90px 0;
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);
}
.clients .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;   
}
.clients_img img {
    width: 100%;
    height: auto;
}



/* professionals */
.professionals {
    padding: 90px 0;
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);
}
.professionals .block_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;   
}
.professionals_top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 66px;
}
.professionals_top-avatar {
    width: 162px;
    height: 162px;    
}
.professionals_top-avatar img {
    display: block;
    border-radius: 50%;
    outline: 11px solid #ECF9FB;
    width: 100%;
    height: 100%;
}
.professionals_top-avatar:nth-child(2) {
    margin-left: -40px;
}
.professionals_top-avatar:nth-child(3) {
    margin-left: -40px;
}


/* roles */
.roles {
    padding: 90px 0;
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);
}
.roles .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start; 
    margin-bottom: 70px;  
}
.roles_items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -60px;
}
.roles_items > * {
    width: calc(100%/3 - 60px);
    margin-left: 60px;
}
.roles_item {
    background: #FFFFFF;
    box-shadow: 0px 11.3755px 68.2531px rgba(38, 45, 118, 0.08);
    border-radius: 22px;
    padding: 110px 20px 50px 40px;
    position: relative;    
}
.roles_item-thumb {
    position: absolute;
    top: -41px;
    left: 40px;
    overflow: hidden;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: #bce01a;
    box-shadow: 0 10px 40px rgb(54 61 136 / 6%);
}
.roles_item-thumb img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;    
}
.roles_item-title {
    font-weight: 700;
    font-size: 34.1265px;
    line-height: 39px;
    color: var(--text_color);
    margin-bottom: 28px;
}
.roles_item-text .icon {
    color: #bce01a;
    display: block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 24px;
}
.roles_item-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: var(--text_color);
    display: flex;
}



/* unit */
.unit {
    padding: 90px 0;
}
.unit .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start; 
}
.unit_items {
    display: flex;
    margin-left: -60px;
    margin-bottom: -60px;
}
.unit_items > * {
    width: calc(100%/3 - 60px);
    margin-left: 60px;
    margin-bottom: 60px;
    padding: 41px;
    background: #FFFFFF;
    box-shadow: 0px 11.3755px 68.2531px rgba(38, 45, 118, 0.08);
    border-radius: 23px;
    display: flex;
    flex-direction: column;
}
.unit_item-title {
    font-weight: 700;
    font-size: 34.1265px;
    line-height: 39px;
    color: var(--text_color);
    margin-bottom: 25px;
}
.unit_item-text {
    font-weight: 500;
    font-size: 23.8886px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: var(--text_color);
    margin-bottom: 40px;
}
.unit_item-images {
    display: flex;
    align-items: center;
    margin-top: auto;
}
.unit_item-image {
    width: 195px;
    height: 195px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.unit_item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 10px solid #fff;
    transition: all .5s;
    border-radius: 19px;
    display: block;
}
.unit_item-image:hover img {
    transform: scale(1.3);
}
.unit_item-image:nth-child(2) {
    margin-left: -78px;
    z-index: 2;
}
.unit_item-image:nth-child(3) {
    margin-left: -78px;
    z-index: 3;
}
.unit_item-image:hover {
    z-index: 100;
}


 
/* launch */

.launch {
    padding: 90px 0;
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);
}



/* first-section */
.first-section {
    padding: 39px 0 54px;
}
.page_head {
    margin-bottom: 103px;
}
.breadcrumbs .sep {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #9F9F9F;
}
.breadcrumbs .current {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #16A3B9;
}
.first-section_wrap {
    display: flex;
    justify-content: space-between;
}
.first-section_info {
    width: calc(100% - 741px);
}
.first-section_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 132%;
    color: var(--text_color);
    margin-bottom: 27px;
    position: relative;
}
.first-section_title::after {
    position: absolute;
    content: "";
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: #BCE01A;
    left: -25px;
    top: -10px;
    z-index: -1;
}
.first-section_title span {
    color: #16A3B9;
}
.first-section_text {
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    margin-bottom: 34px;
}
.first-section_info ul li {
    position: relative;
    padding-left: 61px;
    font-weight: 500;
    font-size: var(--font_size);
    line-height: 160%;
    letter-spacing: 0.02em;
    color: var(--text_color);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.first-section_info ul li .icon {
    color: #bce01a;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
}
.first-section_info ul li span b {
    color: #16A3B9;
    font-weight: 700;
}
.first-section_img img {
    width: 100%;
}
.first-section_img:not(.bg) {
    display: block;
    width: 607px;
    height: 776px;
    max-width: 100%;
    position: relative;
    margin-left: 130px;
}
.first-section_img .bg {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: -90px;
    width: 796px;
    height: 673px;
    pointer-events: none;
}



/* graphics */
.graphics {
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);
    padding: 90px 0;
}
.graphics .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start; 
}
.graphics_box-title {
    display: flex;
    align-items: center;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto 93px;
}
.graphics_box-title-left {
    position: relative;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    color: var(--text_color);
    white-space: nowrap;
    padding-right: 29px;
}
.graphics_box-title-left span {
    color: #16A3B9;
}
.graphics_box-title-right {
    position: relative;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    color: var(--text_color);
    white-space: nowrap;
    padding-left: 29px;
}
.graphics_box-title-right span {
    color: #16A3B9;
}
.graphics_box-title-left::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    background: #BCE01A;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    border-radius: 50%;
}
.graphics_box-title-right::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    background: #BCE01A;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    border-radius: 50%;
}
.graphics_box-title-line {
    width: 100%;
    height: 1px;
    background: #BCE01A; 
    max-width: 100%;
    width: 100%;
}
.graphics_items {
    display: flex;
    justify-content: space-between;
    margin-left: -60px;
}
.graphics_items > * {
    width: calc(100%/2 - 60px);
    margin-left: 60px;
}
.graphics_item img {
    width: 100%;
    height: auto;
}
.graphics_item-title {
    display: none;
}



/* first-section2 */
.first-section2 {
    position: relative;
    padding-bottom: 138px;
}
.first-section2::before {
    position: absolute;
    content: "";
    width: 984px;
    height: 830px;
    background: url(../images/image/first-section2-bg.svg);
    top: 0;
    right: 0;
    z-index: -1;
}
.first-section2 .first-section_img:not(.bg) {
    display: block;
    width: 860px;
    height: 474px;
    max-width: 100%;
    position: relative;
    margin-left: 0px;
}
.first-section2 .first-section_img .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 131px;
    width: 691px;
    height: 622px;
    pointer-events: none;
}
.first-section_info {
    width: calc(100% - 870px);
}



/* first-section3 */
.first-section3 {
    position: relative;
    padding-bottom: 138px;
}
.first-section3::before {
    position: absolute;
    content: "";
    width: 984px;
    height: 830px;
    background: url(../images/image/first-section2-bg.svg);
    top: 0;
    right: 0;
    z-index: -1;
}
.first-section3 .first-section_img:not(.bg) {
    display: block;
    width: 842px;
    height: 674px;
    max-width: 100%;
    position: relative;
    margin-left: 50px;
}
.first-section3 .first-section_img .bg {
    position: absolute;
    z-index: -1;
    top: -117px;
    left: 98px;
    width: 838px;
    height: 747px;
    pointer-events: none;
}
.first-section_info {
    width: calc(100% - 870px);
}



/* first-section4 */
.first-section4 {
    position: relative;
    padding-bottom: 84px;
}
.first-section4 .first-section_img {
    width: 1034px;
    height: auto;
    margin-right: -142px;
}
.first-section4 .first-section_img img {
    width: 100%;
    height: 100%;
}
.first-section_info {
    width: calc(100% - 870px);
}



/* interactive */
.interactive {
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);
    padding: 90px 0;
}
.interactive .block_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start; 
}
.interactive .image {
    position: relative; 
    width: 100%;
    height: auto;
}
.interactive .image img {
    width: 100%;
    display: block;
}
.interactive .image .item {
    position: absolute;
    z-index: 9;
    top: 44%;
    left: 53%;
}
.interactive .image .btn {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background .2s linear;
    border-radius: 50%;
    background: #fff;
}
.interactive .image .btn:before {
    position: absolute;
    z-index: -1;
    top: -11px;
    left: -11px;
    display: block;
    width: 72px;
    height: 72px;
    content: '';
    transition: background .2s linear;
    border-radius: 50%;
    background: #16A3B9;
}
.interactive .image .btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.interactive .image .btn span:before, 
.interactive .image .btn span:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 4px;
    margin: auto;
    content: '';
    transition: background .2s linear;
    border-radius: 3px;
    background: #16A3B9;
}
.interactive .image .btn span:after {
    width: 4px;
    height: 25px;
}
.interactive .image .item.active .btn:before {
    background: #BCE01A;
}
.interactive .image .item.active .btn span:before, 
.interactive .image .item.active .btn span:after {
    background: #BCE01A;
}
.interactive .image .info .close {
    position: absolute;
    top: 13px;
    right: 13px;
    display: flex;
    width: 47px;
    height: 47px;
    padding: 10px;
    cursor: pointer;
    transition: opacity .2s linear;
    opacity: .2;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.interactive .image .info .name {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.interactive .image .info .desc {
    font-weight: 500;
    font-size: 21px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.interactive .image .info {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 19px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
    width: 490px;
    padding: 32px 88px 26px 32px;
    background: #373D3F;
    border-radius: 8px;
}
.interactive .image .info:before {
    position: absolute;
    content: "";
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 0 16px;
    border-color: #373D3F transparent transparent transparent;
}
.interactive .image .info1 {
    top: 8%;
    left: calc(35% + 36px);
}
.interactive .image .item2 {
    top: 45%;
    left: 81%;
}
.interactive .image .info2 {    
    top: 9%;
    left: calc(63% + 36px);
}
.interactive .image .item3 {
    top: 68%;
    left: 58%;
}
.interactive .image .info3 {    
    top: 32%;
    left: calc(40% + 36px);
}



.roles_item-box .audio_media {
    margin-top: 42px;
    padding: 27px 40px;
    background: #FFFFFF;
    box-shadow: 0px 9.04269px 54.2561px rgba(38, 45, 118, 0.08);
    border-radius: 18px;
    width: 100%;
}
.roles_item-box .media-control.media-play {
    width: 55px;
    height: 55px;
}
.roles_item-box .media-play-symbol {
    width: 20px;
    height: 23px;
    fill: #fff;
    margin-left: 4px;
}
.roles_item-box .media-text {
    font-size: 17px;
}


.improvement {
    padding: 90px 0;
    background: linear-gradient(287.57deg, #DCF5F9 5.49%, rgba(220, 245, 249, 0) 110.89%);
}
.improvement .cont {
    max-width: 1697px;
}
.improvement .block_head {
    max-width: 433px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start; 
}
.improvement .block_head .title {
    line-height: 1.28;
}
.improvement_items {
    display: flex;
    margin-left: -160px;
    position: relative;
}
.improvement_items > * {
    width: calc(100%/3 - 160px);
    margin-left: 160px;  
}
.improvement_item {
    position: relative;
}
.improvement_item-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: var(--text_color);
}
.improvement_item-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #696984;
}
.improvement_item-number {
    font-weight: 700;
    font-size: 279px;
    line-height: 279px;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.05;
    right: 0;
    top: -130px;
    position: absolute;
}
.improvement_item:nth-child(1) {
    margin-top: 239px;
    margin-left: 326px;
}
.improvement_item:nth-child(2) {
    margin-top: 58px;
}
.improvement_item:nth-child(3) {
    margin-top: -275px;
}
.improvement_item::after {
    position: absolute;
    content: "";
    top: -70px;
    left: 28px;
    width: 32px;
    height: 32px;
    background: #BCE01A;
    border-radius: 50%;
    outline: 28px solid #fff;
}
.improvement_items::before {
    position: absolute;
    content: "";
    top: -343px;
    left: 135px;
    width: 1467px;
    height: 615px;
    background: url(../images/image/improvement_line.svg);
}



/* result */
.result {
    padding: 90px 0;
}
.cont {
}
.block_head {
}
.center {
}
.pre_title {
}
.bg2 {
}
.animate__heartBeat {
}
.title {
}
.desc {
}
.result_items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: -37px;
    margin-bottom: -37px;
}
.result_items > * {
    width: calc(100%/4 - 37px);
    margin-left: 37px;
    margin-bottom: 37px;
    background: linear-gradient(285.66deg, #DCF5F9 2.81%, rgba(220, 245, 249, 0) 111.19%);
    border-radius: 25px;
    padding: 41px 37px 57px;
    cursor: pointer;
}
.result_item:nth-child(1) .icon {
    width: 70px;
    height: 70px;
}
.result_item:nth-child(2) .icon {
    width: 78px;
    height: 70px;
}
.result_item:nth-child(3) .icon {
    width: 55px;
    height: 75px;
}
.result_item:nth-child(4) .icon {
    width: 57px;
    height: 71px;
}
.result_item-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    margin-top: 40px;
    color: #4B4B4B;
}
.result_item-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #696984;
    margin-top: 20px;
}
.result_item {
    transition: all .5s;
}
.result_item:hover {
    transform: translateY(-20px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 31px 57px rgba(0, 0, 0, 0.17);
}




@media print,
(max-width: 1620px) {
    .improvement_item:nth-child(1) {
        margin-top: 220px;
        margin-left: 200px;
    }
    .improvement_item:nth-child(2) {
        margin-top: 85px;
    }
    .improvement_item:nth-child(3) {
        margin-top: -170px;
    }
    .improvement_item::after {
        top: -100px;
    }
    .first-section4 .first-section_img {
        width: 1034px;
        height: auto;
        margin-right: -50px;
    }
    .first-section4 .first-section_img:not(.bg) {
        margin-left: 30px;
    }

}


@media print,
(max-width: 1530px) {
    .improvement_item:nth-child(3) {
        margin-top: -130px;
    }
}